@import "start.css";

*{
  color: white;
}
/* Override styles if needed */
#levelSelectPage {
  height: 100vh;
  width: 100%;
  background-color: #4287f5; /* Same as Start Page */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Modak", serif;
  background-image: url(../images/circuit.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #4287f5;
  gap: 2em;
  color: white; 
}

/* Title Styling */
.level-select-title p {
  font-size: 10em;
  font-family: "Modak", serif;
  -webkit-text-stroke: 4px black;
  text-shadow: 5px 5px black;
}

/* Grid Layout for Level Buttons */
.level-buttons {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  overflow-y: auto; 
  scroll-behavior: smooth; 
}

.level-buttons::-webkit-scrollbar {
  /* display: none; */
}

/* Style the Level Buttons */
.level-buttons button {
  font-size: 2.2em;
  background-color: #f0b047;
  border: 2px solid black;
  border-radius: 5px;
  padding: .5em 1.2em;
  box-shadow: 0px 5px 5px 1px black; 
  font-family: "Modak", serif;
  -webkit-text-stroke: 1px black;
  text-shadow: 3px 2px black;
  cursor: pointer;
  transition: .1s;
  width: 250px; 
  text-align: center;
}

.level-buttons button:hover {
  background-color: #bd780a;
}

.level-buttons button:active {
  transform: scale(0.9);
}

/* Back Button */
.back-btn {
  height: 52px;
  width: 52px;
  position: absolute;
  top: 2em;
  left: 2em;
  fill: white;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 20px;

  margin-top: 10px;
  margin-bottom: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #636363; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555555; 
}
